@import "tailwindcss";

@layer components {
    .btn{
        @apply   bg-[#4400E7]
    }
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.collect{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

@media (min-width:768px){
    .collect{
        width: 760px;
    }
}
@media (min-width:992px){
    .collect{
        width: 970px;
    }
}
@media (min-width:1200px){
    .collect{
        width: 1170px;
    }
}
@media (min-width:1600px){
    .collect{
        width: 1400px;
    }
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.302);
    z-index: 2;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.btn:hover::before{
    left: 0;
}

.on{
    color:#4400E7;
}
.linkes::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: white;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
.menuo{
    transform: translatex(100%);
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    -ms-transform: translatex(100%);
    -o-transform: translatex(100%);
}
.menuo-back{
    transform: translatex(0)!important;
    -webkit-transform: translatex(0)!important;
    -moz-transform: translatex(0)!important;
    -ms-transform: translatex(0)!important;
    -o-transform: translatex(0)!important;
}

.main_box{
    animation: movement 55s infinite linear;
    -webkit-animation: movement 55s infinite linear;
}
@keyframes movement {
    0%{
        transform: translatex(0%);
        -webkit-transform: translatex(0%);
        -moz-transform: translatex(0%);
        -ms-transform: translatex(0%);
        -o-transform: translatex(0%);
}
    100%{
        transform: translatex(-80%);
        -webkit-transform: translatex(-80%);
        -moz-transform: translatex(-80%);
        -ms-transform: translatex(-80%);
        -o-transform: translatex(-80%);
}
}
.main_box:hover{
    /* animation: ; */
    /* -webkit-animation:; */
}
.about_section{
    background-image:url(../.././public/images/about-bg.webp) ;
}