@import "tailwindcss";

@layer components {
    .btn{
        @apply   bg-[#4400E7]
    }
    .title_color{
        @apply   text-[#2a2a2ae9]
    }
    .p{
        @apply   text-[#242323bc]
    }
    .li{
        @apply   p-1 cursor-pointer hover:text-black font-bold transition duration-300
    }
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
h2,h3,h4,h5,h6{
    line-height: 1.3;
}

.collect{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

@media (min-width:768px){
    .collect{
        width: 760px;
    }
}
@media (min-width:992px){
    .collect{
        width: 970px;
    }
}
@media (min-width:1200px){
    .collect{
        width: 1170px;
    }
}
@media (min-width:1600px){
    .collect{
        width: 1400px;
    }
}
#hero .swiper {
    width: 100%;
    height: 100%;
}
#hero .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.350);
    z-index: 2;
}

.bt::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.bt:hover::before{
    left: 0;
}

.on{
    color:#4400E7;
}

.menuo{
    transform: translatex(100%);
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    -ms-transform: translatex(100%);
    -o-transform: translatex(100%);
}
.menuo-back{
    transform: translatex(0)!important;
    -webkit-transform: translatex(0)!important;
    -moz-transform: translatex(0)!important;
    -ms-transform: translatex(0)!important;
    -o-transform: translatex(0)!important;
}
.menuo a:hover{
    color: #4400E7 !important;
}

.main_box{
    animation: movement 55s infinite linear;
    -webkit-animation: movement 55s infinite linear;
}
@keyframes movement {
    0%{
        transform: translatex(0%);
        -webkit-transform: translatex(0%);
        -moz-transform: translatex(0%);
        -ms-transform: translatex(0%);
        -o-transform: translatex(0%);
}
    100%{
        transform: translatex(-80%);
        -webkit-transform: translatex(-80%);
        -moz-transform: translatex(-80%);
        -ms-transform: translatex(-80%);
        -o-transform: translatex(-80%);
}
}

.about_section{
    background-image:url(../.././public/images/about-bg.webp) ;
}
.box_image:hover img{
    transform: scale(1.2) rotate(-10deg);
    -webkit-transform: scale(1.2) rotate(-10deg);
    -moz-transform: scale(1.2) rotate(-10deg);
    -ms-transform: scale(1.2) rotate(-10deg);
    -o-transform: scale(1.2) rotate(-10deg);
}
.box_image:hover>div{
    opacity: 1;
    transform: translatey(-30%);
    -webkit-transform: translatey(-30%);
    -moz-transform: translatey(-30%);
    -ms-transform: translatey(-30%);
    -o-transform: translatey(-30%);
}

.feature_section{
    background-image: url(../../public/images/Features-bg.webp);
    background-size:cover ;
    background-position: center;
}

.test_box::after{
    content: "";
    position: absolute;
    top: 30px;
    left: -30px;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 150, 112, 0.189);
    z-index: -1 !important;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.serf{
    font-family: serif;
}

.blog_box:hover .img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.blog_box:hover>div{
    background-color: #4400E7;
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    -o-transform: translatey(-20px);   
}
.blog_box:hover>div h3,.blog_box:hover>div span{
    color: white;
}
.blog_box:hover>div h3{
    border-bottom: solid 1px white;
}
.experience{
    background-image: url(../../public/images/Experience-bg.webp);
    background-size: cover;
    background-position: center;
}

#footer{
    background-image: url(../../public/images/footer-bg.webp);
    background-size: cover;
    background-position: center;
}

.tour_box:hover .tour_box_span{
    left: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

input{
    outline: none !important;
}

#header a:hover{
    color: #4400E7 !important;
}

.title_color{
    color: #2a2a2ae9 !important;
}